table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* add box shadow */
  position: relative; /* enable absolute positioning of the pin */
}

table::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: #ff9900; /* specify pin color */
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.Action {
  text-align: center;
}
